#logo {
  position: absolute;
  left: 40%;
  top: 20%;
}

#aboutstore {
  font-family: monospace;
  font-size: 10pt;
  word-spacing: 10px;
  display: inline;
  position: relative;
  left: 20px;
  top: 5px;
}

#gmailimages{
  font-family: monospace;
  font-size: 10pt;
  word-spacing: 10px;
  display: inline;
  position: relative;
  left: 1500px;
  top: 5px;
}

#signin {
  font-family: monospace;
  font-size 10pt;
  background-color: #6388FC;
  color: white;
  padding: 8px 12px;
  border-radius: 3px;
  text-align: center;
  display: inline;
  position: absolute;
  top: 6px;
  right: 20px;
}

#signin:hover {
  text-decoration: none;
}

#signin:active {
  background-color: #3766FD;
}

a:link {
  color: #0d0b0b;
  font-family: inherit;
  font-size: inherit;
  word-spacing: inherit;
  text-decoration: none;
}

a:visited {
  color: #0d0b0b;
  font-family: inherit;
  font-size: inherit;
  word-spacing: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

 fieldset {
   border: 0;
 }

#search {
  padding-left: 20px;
  padding-right: 20px;
  border-style: outset;
  position: absolute;
  left: 35%;
  top: 35%;
  width: 450px;
  height: 40px;
}

.submitbuttons {
  background-color: #b9b9b9;
  border: 0;
  width: auto;
  height: 35px;
}

#googlesearch {
  width: 135px;
  height: 40px;
  position: absolute;
  top: 45%;
  left: 725px;
}

#googlesearch:hover {
  background-color: #b9b9b9;
  color: black;
  border: 1px;
  border-style: solid;
  font-weight: 200;
}

#feelinglucky {
  width: 135px;
  height: 40px;
  position: absolute;
  top: 45%;
  left: 900px;
}

#feelinglucky:hover {
  background-color: #b9b9b9;
  color: black;
  border: 1px;
  border-style: solid;
  font-weight: 200;
}
